<!DOCTYPE html>
<html>
<head>
  <title>Sakura fall</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "sakura_fall/application", media: "all" %>
  <%= javascript_include_tag "sakura_fall/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
